/* The header element should have a 1px, goldenrod border.*/

/*** adding solid shortand property will better show bar ***/
header {
    border: 1px goldenrod solid;
}

/*Convert the ul in the navigation element into a series of horizontal links with # as the href value, without bullets, and have some space between them horizontally.*/

/*** selecting ONLY ul and li elements witin nav element ***/
nav > ul li {
    margin: auto 15px;
    padding: 15px;
    display: inline;
    list-style-type: none;
}

/*Ensure that the navigation is semantically marked as such (i.e. wrap it in the correct HTML tag).*/
/* COMPLETE */

/*Any text in an element with class "disabled" should be colored grey, unless it is inside an anchor tag. If inside an anchor, it should be colored purple.*/
.disabled {
    color: grey;
}

/*** ">" means child selector; so the child 
"within" the anchor tag ***/
a > .disabled {
    color: purple;
}

/*Any text inside an element with a class of "active" should be colored yellow.*/
.active {
    color: yellow;
}

/*Section elements should be contained within an article element.*/
/* COMPLETE */

/*There are two missing closing tags in this document. Make sure you add them back in.*/
/* COMPLETE */

/*Make the "I'm red" text colored red.*/
div.parent div div:nth-child(1) {
    color: red;
}

/*Make the "I'm blue" text colored blue.*/
div.parent div div:nth-child(3) {
    color: blue;
}

/*The sibling h4 of the red element should have a background color of red.*/
div.parent div h4:nth-child(2) {
    background-color: red;
}

/*The sibling h4 of the blue element should have background color of blue.*/
div.parent div h4:nth-child(4) {
    background-color: blue;
}

/*Any h4 that is a direct child of grandparent should have a 1px border with rounded corners.*/
div.grandparent > h4 {
    border-style: solid;
    border-radius: 40px;
}

/*Elements with a class of promo should have bold text that is also colored gold. */
.promo {
    color: gold;
    font-weight: bold;
}

/* Without adding any other attributes to the input fields in the footer, write a CSS selector that makes any text input field have a height of 25px. */
input {
    height: 25px;
}